html, body {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#formContainer {
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #2284d5;
  font-weight: 900;
}

#community_select {
  width: 80px;
  height: 20px;
  font-size: 14px;
  border: solid 1px #333;
}

textarea {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px 15px;
  width: 250px;
  height: 80px;
  max-width: 80%;
  max-height: 150px;
  font-size: 16px;
  border: solid 1px #333;
}

#submitBtn {
  color: #fff;
  background-color: #2284d5;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

#submitState {
  color: #f28a3f;
  font-size: 24px;
  font-weight: 900;
}
